django
djangorestframework
django-allauth
coreapi
django-rest-auth
packaging
dj_database_url
psycopg2-binary
gunicorn
coreapi
djangorestframework-jwt
dj_database_url
psycopg2-binary
pytz
whitenoise==3.3.1
django-oauth-toolkit
django-cors-middleware
pyjwt
drf-yasg
django-rest-swagger
django-allauth
django-cors-headers
