django
djangorestframework
django-allauth
coreapi
django-rest-auth
djangorestframework-jwt
dj_database_url
psycopg2-binary
pytz
whitenoise==3.3.1
djangorestframework-jwt
django-oauth-toolkit
django-cors-middleware
pyjwt
drf-yasg